.layout {
	position:relative;
	width:7.5rem;
	margin:0 auto;
	min-height:100vh;
}
.profile {
	background:#F3F5F9;
	min-height:100vh;
}
.profile .tps {
	padding:0.2rem 0.17rem 0.3rem;
	background:#fff;
}
.profile .hds {
	background:url(../pic/qw4.png) no-repeat center/cover;
	padding:0.75rem 0.38rem 0.7rem;
}
.profile .hds a {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.profile .hds .pic {
	width:1.24rem;
	height:1.24rem;
	background:#fff;
	border-radius:50%;
	overflow:hidden;
}
.profile .hds .pic img {
	width:100%;
	height:100%;
	display:block;
}
.profile .hds .txt {
	flex:1;
	margin-left:0.18rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.profile .hds h3 {
	font-weight:bold;
	font-size:0.36rem;
	color:#FFFFFF;
	line-height:1.6;
}
.profile .hds dl {
	display:flex;
	align-items:center;
	margin-top:0.05rem;
}
.profile .hds dd {
	font-weight:400;
	font-size:0.22rem;
	color:#FFFFFF;
	line-height:1.6;
}
.profile .hds dd span {
	margin:0 0.18rem;
	background:#ecedfe;
	width:0.01rem;
	height:0.24rem;
	display:block;
}
.profile .hds dd i {
	padding:0 0.15rem;
	background:#FCE0BD;
	font-weight:bold;
	font-size:0.2rem;
	color:#3B1F0F;
	line-height:0.36rem;
	border-radius:0.2rem;
}
.profile .hds .icon {
	width:0.17rem;
	display:block;
}
.profile ul {
	margin:0.3rem 0.16rem;
}
.profile li {
	margin-bottom:0.28rem;
	padding:0.46rem 0.4rem 0.46rem 0.5rem;
	background:#fff;
	border-radius:0.3rem;
}
.profile li a {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.profile li .ls image {
	width:0.49rem;
	display:block;
}
.profile li .ls {
	display:flex;
	align-items:center;
}
.profile li h3 {
	margin-left:0.25rem;
	font-weight:400;
	font-size:0.28rem;
	color:#3B1F0F;
	line-height:1.6;
}
.profile li .icon {
	width:0.13rem;
}
.rating {
	padding:1.1rem 0;
}
.rating .hds h2 {
	font-weight:400;
	font-size:0.3rem;
	color:#999999;
	line-height:1.6;
	text-align:center;
}
.rating ul {
	margin-top:0.4rem;
}
.rating li {
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	margin-bottom:0.24rem;
}
.rating li h3 {
	font-weight:400;
	font-size:0.2rem;
	margin-top:0.2rem;
	color:#111111;
	line-height:1.6;
	width:1.6rem;
	text-align:right;
}
.rating li dl {
	width:calc(100% - 1.74rem);
	display:flex;
	align-items:flex-start;
	justify-content:space-between;
	padding-right:0.7rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.rating li dd {
	text-align:center;
}
.rating li dd:last-child {
	margin-right:0;
}
.rating li p {
	font-weight:400;
	font-size:0.2rem;
	color:#999999;
	line-height:1.6;
	display:none;
}
.rating li .icon {
	width:0.69rem;
	margin:0 auto;
}
.rating li .icon img {
	width:100%;
	display:block;
}
.rating li .icon .icn2 {
	display:none;
}
.rating li dd.on .icon .icn1 {
	display:none;
}
.rating li dd.on .icon .icn2 {
	display:block;
}
.rating li dd.on p {
	display:block;
}
.rating .hds {
	margin-bottom:0.8rem;
}
.rating .txt {
	height:1.83rem;
	background:#F3F5F9;
	border-radius:0.2rem 0.2rem 0.2rem 0.2rem;
	border:1px solid #DDDDDD;
	padding:0.2rem 0.5rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:400;
	font-size:0.24rem;
	color:#000;
	line-height:1.6;
	width:100%;
	resize:none;
}
.rating .btn {
	height:0.9rem;
	background:#444DFA;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	font-weight:400;
	font-size:0.36rem;
	margin:1.8rem 0.34rem 0;
	color:#FFFFFF;
	display:block;
	text-align:center;
	line-height:0.9rem;
	text-align:center;
	text-transform:uppercase;
}
.rating .box {
	padding:0 0.52rem;
}
.myorder .navs {
	background:#FBFBFB;
	padding-top:0.3rem;
}
.myorder .navs ul {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0 0.5rem;
}
.myorder .navs li a {
	font-weight:400;
	display:block;
	font-size:0.3rem;
	color:#111111;
	text-align:center;
	line-height:0.88rem;
	padding:0 0.36rem;
}
.myorder .navs li.on a {
	font-weight:bold;
	color:#444DFA;
}
.myorder .navs li.on:before {
	width:100%;
}
.myorder .navs li {
	position:relative;
}
.myorder .navs li:before {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	height:0.07rem;
	width:0;
	background:#444DFA;
	border-radius:0.12rem 0.12rem 0.12rem 0.12rem;
}
.myorder .bds {
	margin:0.22rem 0.2rem;
}
.myorder {
	min-height:100vh;
	background:#F3F5F9;
}
.myorder .bds li {
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	padding:0.36rem 0.45rem 0.5rem;
	margin-bottom:0.22rem;
}
.myorder .bds li .tps {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.myorder .bds li h6 {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
	line-height:1.6;
}
.myorder .bds li h3 {
	font-weight:bold;
	font-size:0.24rem;
	line-height:1.6;
}
.myorder .bds li h3.i1 {
	color:#00A737;
}
.myorder .bds li h3.i2 {
	color:#47ACFF;
}
.myorder .bds li h2 {
	background:url(../pic/qw1.png) no-repeat right center/0.13rem auto;
	margin:0.2rem 0 0.14rem;
}
.myorder .bds li h2 i {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	line-height:1.6;
	max-width:94%;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
}
.myorder .bds li .flax {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:0.1rem;
}
.myorder .bds li h4 {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
	line-height:1.6;
}
.myorder .bds li h5 {
	font-weight:400;
	font-size:0.24rem;
	color:#111111;
	line-height:1.6;
}
.myorder .bds li h5 span {
	font-weight:bold;
	font-size:0.36rem;
	margin-left:0.16rem;
	display:inline-block;
}
.myorder .bds li .btn {
	width:2.68rem;
	line-height:0.83rem;
	background:#444DFA;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	font-weight:400;
	font-size:0.3rem;
	color:#FFFFFF;
	display:block;
	text-align:center;
	text-transform:uppercase;
}
.myorder .bds li .bns {
	display:flex;
	justify-content:flex-end;
	margin-top:0.3rem;
}
.myorder .bds li .pinj {
	text-align:right;
	font-weight:400;
	font-size:0.2rem;
	color:#999999;
}
.myorder .bds li .pinj .icon {
	width:0.3rem;
	display:inline-block;
	align-items:center;
	position:relative;
	top:0.06rem;
}

.ftbtns {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	z-index:12;padding: 0 0.2rem;
	height:1.35rem;
	padding-top:0.18rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background:#FFFFFF;
	width:7.5rem;
	margin:0 auto;
}
.ftbtns.on {
	background:none;
}
.ftbtns .btn {
	height:0.89rem;
	background:#444DFA;
	width:7.02rem;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	margin:0 auto;
	font-weight:400;
	font-size:0.36rem;
	color:#FFFFFF;
	line-height:0.9rem;
	display:block;
	text-align:center;
	flex: 1;margin-left: 0.2rem;
}
.ftbtns.on .btn {
	background:#FF2A0E;
}
.address ul {
	margin:0 0.2rem;
	padding:0.24rem 0;
}
.address li {
	margin-bottom:0.2rem;
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	padding:0.5rem 0.4rem;
}
.address li .r1 {
	display:none;
}
.address li h3 {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	line-height:1.6;
	max-width:90%;
}
.address li .icon {
	width:0.13rem;
	display:block;
}
.address li label {
	display:block;
	background:url(../pic/qw12-1.png) no-repeat left top 0.06rem/0.39rem auto;
	padding-left:0.6rem;
}
.address li .flax a {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.address li input:checked + label {
	background:url(../pic/qw12.png) no-repeat left top 0.06rem/0.39rem auto;
}
.coupon {
	min-height:100vh;
	padding-bottom:2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background:#F3F5F9;
}
.coupon ul {
	padding:0.3rem 0.2rem;
}
.coupon li {
	margin-bottom:0.55rem;
}
.coupon li .ls {
	margin-right:0.28rem;
}
.coupon li h3 {
	font-weight:bold;
	font-size:0.3rem;
	color:#111111;
	line-height:1.6;
	margin-bottom:0.16rem;
}
.coupon li dd {
	margin-bottom:0.22rem;
	background:#F95E06;
	border-radius:0.4rem 0.3rem 0.3rem 0.4rem;
	display:flex;
}
.coupon li h4 {
	font-weight:400;
	font-size:0.22rem;
	color:#FFFFFF;
	line-height:1;
	width:0.7rem;
	text-align:center;
	padding-left:0.2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	transform:rotate(-2deg);
	writing-mode:vertical-lr;
	white-space:nowrap;
}
.coupon li .r1 {
	display:none;
}
.coupon li label {
	display:block;
	background:url(../pic/qw13.png) no-repeat center/0.35rem auto;
	width:0.35rem;
	height:0.35rem;
}
.coupon li input:checked + label {
	background:url(../pic/qw13-1.png) no-repeat center/0.35rem auto;
}
.coupon li .bgs {
	background:#fff;
	border-radius:0.3rem;
	display:flex;
	padding:0.14rem 0.3rem 0.14rem 0.2rem;
	align-items:center;
	justify-content:space-between;
	flex:1;
}
.coupon li .flax {
	display:flex;
	flex:1;
	justify-content:space-between;
}
.coupon li h2 {
	width:1.6rem;
	line-height:1.44rem;
	background:#FFF1EE;
	border-radius:0.2rem 0.2rem 0.2rem 0.2rem;
	font-weight:400;
	font-size:0.3rem;
	color:#F95E06;
	text-align:center;
}
.coupon li h2 span {
	font-weight:bold;
	font-size:0.45rem;
}
.coupon li .txt {
	width:calc(100% - 2rem);
}
.coupon li h6 {
	font-weight:400;
	font-size:0.18rem;
	color:#999999;
	text-align:right;
	line-height:1.6;
}
.coupon li p {
	font-weight:400;
	font-size:0.18rem;
	color:#999999;
	line-height:1.6;
	margin-top:0.2rem;
}
.personal {
	min-height:100vh;
	background:#F3F5F9;
	padding-bottom:2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.personal ul {
	padding:0.3rem 0.18rem;
}
.personal li {
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	padding:0.5rem 0.4rem;
	margin-bottom:0.22rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.personal li h3 {
	font-weight:400;
	font-size:0.3rem;
	color:#060606;
	line-height:1.6;
}
.personal li .rs {
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex:1;
	margin-left:0.5rem;
}
.personal li .t1 {
	width:calc(100% - 0.55rem);
	height:0.36rem;
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	border:none;
	background:none;
	text-align:right;
}
.personal li .icon {
	width:0.13rem;
}
.ftbtns.ons {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.ftbtns.ons .b1 {
	width:1.86rem;
	line-height:0.9rem;
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	border:1px solid #E84048;
	font-weight:400;
	font-size:0.36rem;
	color:#FF2A0E;
	text-align:center;
}
.editadd {
	margin-top:0.3rem;
}
.upage {
	background:#F3F5F9;
	min-height:100vh;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
}
.editadd .item {
	background:#fff;
	padding:0.35rem 0.35rem 0.27rem;
}
.editadd .item li {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:0.1rem;
}
.editadd .item li label {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	height:0.8rem;
	width:1.4rem;
	margin-right:0.1rem;
	line-height:0.8rem;
}
.editadd .item li .txt {
	flex:1;
	border:none;
	background:none;
	font-weight:400;
	font-size:0.28rem;
	color:#111111;
	height:0.8rem;
}
.editadd .item li .icon {
	width:0.31rem;
	padding:0.1rem 0 0.1rem 0.1rem;
}
.editadd .item .text {
	height:2.46rem;
	background:#F3F5F9;
	border-radius:0.2rem 0.2rem 0.2rem 0.2rem;
	border:1px solid #DDDDDD;
	padding:0.2rem 0.35rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	font-weight:400;
	font-size:0.26rem;
	color:#333;
	resize:none;
}
.editadd .item .porc {
	position:relative;
}
.editadd .item .porc i {
	position:absolute;
	left:0.3rem;
	bottom:0.2rem;
	line-height:0.6rem;
	background:#FFFFFF;
	border-radius:0.12rem;
	border:1px solid #DDDDDD;
	font-weight:400;
	font-size:0.3rem;
	color:#999999;
	padding:0 0.2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	display:block;
}
.editadd .flex {
	height:1.08rem;
	padding:0 0.35rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	background:#fff;
	margin-top:0.2rem;
}
.editadd .flex h5 {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
}
.checkout {
	min-height:100vh;
	background:#F3F5F9;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:0.2rem;
}
.thpic li {
	background:#FFFFFF;
	box-shadow:0rem 0.05rem 0.08rem 0rem rgba(104,120,186,0.18);
	border-radius:0.3rem;
	border:1px solid #FFFFFF;
	display:flex;
	justify-content:space-between;
	padding:0.12rem;
	position:relative;
}
.thpic li:nth-child(1) {
	z-index:100;
}
.thpic li:nth-child(2) {
	z-index:99;
}
.thpic li:nth-child(3) {
	z-index:98;
}
.thpic li:nth-child(n+2) {
	margin-top:-1.12rem;
}
.thpic li:nth-child(n+4) {
	display:none;
}
.thpic .icon {
	width:0.98rem;
	height:0.98rem;
	border-radius:0.2rem;
	overflow:hidden;
}
.thpic .icon img {
	width:100%;
	height:100%;
	display:block;
	object-fit:cover;
}
.thpic .text {
	flex:1;
	padding-left:0.16rem;
	padding-right:0.2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.thpic .text .flex {
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.thpic .text h4 {
	font-weight:400;
	font-size:0.26rem;
	color:#111111;
	width:calc(100% - 1rem);
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	line-height:2;
}
.thpic .text i {
	font-weight:400;
	font-size:0.28rem;
	color:#111111;
}
.thpic .text h5 {
	font-weight:400;
	font-size:0.2rem;
	color:#999999;
	line-height:1.6;
}
.thpic .text span {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
}
.checkout .itemflex {
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-bottom:0.01rem solid rgba(221,221,221,0.9);
	height:1rem;
	padding:0 0.3rem;
	padding-top:0.1rem;
}
.checkout .itemflex h4 {
	font-weight:400;
	font-size:0.24rem;
	color:#111111;
}
.checkout .itemflex h5 {
	font-weight:400;
	font-size:0.24rem;
	color:#111111;
}
.checkout .itemflex h5 i {
	font-weight:bold;
	font-size:0.36rem;
	color:#111111;
	margin:0 0.15rem 0 0.06rem;
}
.checkout .itemflex h5 span {
	font-weight:400;
	font-size:0.24rem;
	color:#EB362A;
}
.checkout .box {
	margin-top:0.2rem;
	background:#FFFFFF;
	border-radius:0.3rem;
	border:1px solid #FFFFFF;
	padding:0.2rem;
}
.checkout .box h4 {
	font-weight:bold;
	font-size:0.22rem;
	color:#111111;
	line-height:1.6;
	margin-bottom:0.15rem;
}
.checkout .box1 h6 i {
	display:inline-block;
	margin:0 0.1rem 0.1rem 0;
	padding:0 0.25rem;
	border:1px solid #333;
	border-radius:0.4rem;
	line-height:0.43rem;
	font-weight:400;
	font-size:0.2rem;
	color:#111111;
}
.checkout .box1 .text {
	height:0.96rem;
	background:#F3F5F9;
	border-radius:0.2rem;
	border:1px solid #DDDDDD;
	width:100%;
	padding:0.2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:400;
	font-size:0.26rem;
	color:#BDBDBD;
	margin-top:0.1rem;
	resize:none;
}
.checkout .box2 .flexnum {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.checkout .box2 .flexnum ul {
	display:flex;
	flex:1;
	flex-wrap:wrap;
}
.checkout .box2 .flexnum li {
	padding:0 0.2rem;
	margin-right:0.1rem;
	margin-bottom:0.1rem;
	font-weight:400;
	font-size:0.22rem;
	color:#111111;
	line-height:0.6rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	background:#F3F5F9;
	border-radius:0.12rem;
	border:1px solid #F3F5F9;
}
.checkout .box2 .flexnum li.on {
	border-color:#0E57E2;
	background:#DCEAFF;
	color:#0E57E2;
}
.checkout .box2 .txt {
	background:#F3F5F9;
	border-radius:0.2rem;
	border:1px solid #DDDDDD;
	height:0.6rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-weight:400;
	font-size:0.26rem;
	color:#BDBDBD;
	padding:0 0.2rem;
	width:2.78rem;
}
.checkout .box3 .make {
	display:flex;
	align-items:center;
	background:url(../pic/qw1.png) no-repeat right center/0.12rem auto;
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	line-height:1.7;
	padding-left:0.12rem;
	padding-right:0.34rem;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.checkout .box3 .make img {
	display:block;
	width:0.37rem;
	margin-right:0.1rem;
}
.checkout .box3.wpad {
	padding-top:0.4rem;
	padding-bottom:0.4rem;
}
.ulbox li {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0 0.15rem;
	height:0.6rem;
}
.ulbox li h5 {
	font-weight:400;
	font-size:0.26rem;
	color:#060606;
}
.ulbox li i {
	font-weight:400;
	font-size:0.3rem;
	color:#E63700;
}
.ulbox li span {
	font-weight:400;
	font-size:0.26rem;
	color:#444DFA;
	margin-left:0.08rem;
}
.ulbox li em {
	font-weight:400;
	font-size:0.22rem;
	color:#111111;
}
.ulbox li h6 {
	font-weight:bold;
	font-size:0.29rem;
	color:#111111;
}
.ulbox .uar li {
	background:url(../pic/qw1.png) no-repeat right center/0.12rem auto;
	padding-right:0.34rem;
	height:0.8rem;
}
.itempay ul {
	overflow-x:scroll;
	white-space:nowrap;
	margin:0.45rem 0 0.5rem;
}
.itempay li {
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	border:1px solid #FFFFFF;
	padding:0.38rem 0.15rem 0.14rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	margin-right:0.16rem;
	display:inline-block;
	position:relative;
	width:2.3rem;
}
.itempay li i {
	display:block;
	position:absolute;
	left:0.1rem;
	top:0.1rem;
	width:0.39rem;
	height:0.39rem;
	background:url(../pic/qw12-1.png) no-repeat center/contain;
}
.itempay li.on i {
	background:url(../pic/qw12.png) no-repeat center/contain;
}
.itempay li .icon {
	height:0.35rem;
}
.itempay li .icon img {
	height:100%;
	object-fit:contain;
	display:block;
	margin:0 auto;
}
.itempay li h6 {
	margin-top:0.22rem;
	font-weight:400;
	font-size:0.26rem;
	color:#111111;
	text-align:center;
	text-transform:capitalize;
}
.itemft {
	position:fixed;
	left:0.35rem;
	right:0.35rem;
	bottom:0.4rem;
	z-index:99;
	background:#525252;
	box-shadow:0rem 0.26rem 0.17rem 0rem #CED1D5;
	border-radius:0.6rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
	height:0.9rem;
}
.itemft h6 {
	flex:1;
	margin-right:0.15rem;
	font-weight:400;
	font-size:0.24rem;
	color:#FFFFFF;
	padding-left:0.4rem;
}
.itemft h6 i {
	font-weight:bold;
	font-size:0.36rem;
	color:#FFFFFF;
	margin-left:0.05rem;
}
.itemft h6 span {
	font-weight:400;
	font-size:0.24rem;
	color:#E63700;
	margin-left:0.2rem;
}
.itemft .btn {
	width:2.67rem;
	line-height:0.9rem;
	background:#444DFA;
	border-radius:0.6rem;
	font-weight:400;
	font-size:0.36rem;
	color:#FFFFFF;
	text-align:center;
}
.checkout {
	padding-bottom:1.3rem;
}
.pickitem ul {
	display:flex;
	margin-top:0.3rem;
	flex-wrap:wrap;
	justify-content:space-between;
}
.pickitem li {
	width:calc((100% - 0.22rem)/2);
	background:#FFFFFF;
	border-radius:0.3rem;
	height:0.9rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 0.3rem;
}
.pickitem li label {
	padding-left:1.05rem;
	background:url(../pic/qw12-1.png) no-repeat left center/0.39rem auto;
	line-height:0.9rem;
	display:block;
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
}
.pickitem li input:checked + label {
	background:url(../pic/qw12.png) no-repeat left center/0.39rem auto;
}
.pickitem li input {
	display:none;
}
.orderdel {
	background:#F3F5F9;
	min-height:100vh;
	padding-bottom:1.6rem;
}
.orderdel .fbtns {
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:fixed;
	left:0;
	right:0;
	bottom:0.3rem;
	z-index:99;
	width:6.7rem;
	margin:0 auto;
}
.orderdel .fbtns .b1 {
	width:1.73rem;
	line-height:0.89rem;
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	border:1px solid rgba(51,51,51,0.5);
	font-weight:400;
	font-size:0.3rem;
	color:#060606;
	text-align:center;
	display:block;
}
.orderdel .fbtns .b1.on {
	width:4.76rem;
	line-height:0.89rem;
	background:#444DFA;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	font-weight:400;
	font-size:0.3rem;
	border:none;
	color:#FFFFFF;
	text-align:center;
	display:block;
}
.wttps {
	text-align:right;
	padding-right:0.3rem;
	background:#fff;
}
.wttps h2 {
	font-weight:400;
	font-size:0.2rem;
	color:#999999;
	line-height:1.6;
}
.wttps h2 span {
	font-weight:bold;
	font-size:0.36rem;
	color:#EB362A;
	display:inline-block;
	margin-left:0.2rem;
}
.wttps h2 i{
	font-weight: bold;
	font-size: 0.36rem;
	color: #111111;
	display:inline-block;
	margin-left:0.2rem;
}
.orderdel .hds {
	background:#FBFBFB;
	padding:0.35rem 0 0.35rem 0.75rem;
}
.orderdel .hds h3 {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	line-height:1.6;
}
.orderdel .hds h4 {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
	line-height:1.6;
	margin:0.04rem 0;
}
.orderdel .hds dd {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
	line-height:1.6;
	margin-bottom:0.05rem;
}
.orderdel .hds dd span {
	font-size:0.3rem;
	color:#111111;
}
.orderdel .bds {
	padding:0.48rem 0 0.38rem;
	background:#fff;
	margin:0.2rem 0 0.3rem;
}
.orderdel .bds ul {
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin:0 0.2rem 0 0.3rem;
}
.orderdel .bds li {
	position:relative;
}
.orderdel .bds li:before {
	content:"";
	position:absolute;
	right:-1.1rem;
	top:0.13rem;
	z-index:1;
	width:1.5rem;
	border:2px solid #BDBDBD;
}
.orderdel .bds li:last-child:before {
	display:none;
}
.orderdel .bds li .icon {
	width:0.34rem;
	margin:0 auto;
	position:relative;
	z-index:2;
}
.orderdel .bds li .ic2 {
	display:none;
}
.orderdel .bds li.on .ic1 {
	display:none;
}
.orderdel .bds li.on .ic2 {
	display:block;
}
.orderdel .bds li p {
	font-weight:400;
	font-size:0.2rem;
	padding-left:0.1rem;
	color:#111111;
	line-height:1.2;
	margin-top:0.05rem;
}
.orderdel .dizhi {
	margin:0 0.2rem;
	background:#fff;
	border-radius:0.3rem;
	padding:0.4rem 0.36rem;
}
.orderdel .dizhi li {
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
	position:relative;
	padding-bottom:1rem;
}
.orderdel .dizhi li:before {
	content:"";
	position:absolute;
	left:0.18rem;
	bottom:-0.1rem;
	z-index:1;
	border:2px dashed #BDBDBD;
	height:100%;
}
.orderdel .dizhi li:last-child {
	padding-bottom:0;
}
.orderdel .dizhi li:last-child:before {
	display:none;
}
.orderdel .dizhi .txt {
	width:calc(100% - 2.65rem);
}
.orderdel .dizhi dd {
	font-weight:400;
	font-size:0.24rem;
	color:#999999;
	line-height:1.6;
	display:flex;
	margin-bottom:0.08rem;
}
.orderdel .dizhi dd span {
	color:#111111;
	display:block;
	flex:1;
	margin-left:0.1rem;
}
.orderdel .dizhi dd i {
	display:block;
}
.orderdel .dizhi .ls h3 {
	font-weight:400;
	font-size:0.24rem;
	line-height:2;
	position:relative;
	z-index:3;
	color:#111111;
	padding-left:0.6rem;
	background:url(../pic/qw22.png) no-repeat left center/0.41rem auto;
}
.orderdel .dizhi .ls .img {
	width:0.61rem;
	display:block;
	margin-top:0.2rem;
	margin-left:0.65rem;
}
.thpic2 {
	margin:0.27rem 0.2rem 0;
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	border:1px solid #FFFFFF;
	padding:0.2rem;
}
.thpic2 li:nth-child(n+2) {
	margin:0;
}
.thpic2 li {
	padding:0.11rem 0;
	box-shadow:none;
}
.thpic .text h4 {
	display:flex;
	align-items:center;
}
.thpic .text h4 img {
	margin-right:0.1rem;
	width:0.22rem;
}
.orderbox h3,.thpic2 h3 {
	font-weight:400;
	font-size:0.3rem;
	color:#111111;
	line-height:1.8;
}
.orderbox {
	margin:0.27rem 0.2rem 0;
	background:#FFFFFF;
	border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
	border:1px solid #FFFFFF;
	padding:0.2rem;
}
.address {
	background:#F3F5F9;
	padding-bottom:2rem;
}
html{
	font-size:13.33vw !important;
}
.personal,
.orderdel,
.myorder,
.coupon,
.checkout,
.upage,
.profile,
.address{
	height:calc(100vh - 48px);
	min-height: calc(100vh - 48px);
	overflow-y: scroll !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}